  <!-- About Us -->
  <div id="aboutC" class="untree_co-section bg-light" style="background-image:url('../../static/images/shoes-1897708_1920.jpg');">
    <div  class="container" >
     
      <div class='row'>
     
          <div class="col-lg-8" style="background-color:white;padding:5% 3% 5% 3%;">
           <article aria-label="article">
          <h3 class="line-bottom  mb-4 logo m-0">Shoe Invasion<span class="text-primary">.</span></h3>
            <p>Welcome to Shoe Invasion, your number one source for all top quality and authentic shoes. Dedicated to giving you nothing but the trendiest with a focus on authenticity and reliability.</p>


            <p>Founded in 2022 by a group of shoe enthusiast, Shoe Invasion has come a long way from its beginnings in September 2020. When it first started out, Their passion for providing authentic shoes drove them to create this website so that Shoe Invasion can offer you 100% Authentic finest quality shoes. Shoe Invasion now serve customers all over Singapore, Australia and US, and are thrilled that we're able to turn our passion into our own website.</p>


            <p>We hope you enjoy our platform as much as we enjoy offering branded authentic shoes to you. If you have any questions or comments, please don't hesitate to contact us.</p>


            <p>Sincerely,<br>Shoe Invasion</p>
            </article>
          </div> 
      
      </div>
    </div>
  </div>