<!DOCTYPE html>
<html lang="en">
  {% load crispy_forms_tags %}
<head>
    {% include 'ShoesInvasionAdmin/head.html' %}
  <title>ShoesInvasion Admin - User</title>
</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'ShoesInvasionAdmin/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'ShoesInvasionAdmin/navbar.html' %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          {% if status ==  "Failed" %}
          <div id="error_msg" style="visibility: visible;">
            <div class ="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error! <p id="error_msg_content">{{message}}</p></strong>
              <button type="button" class="close" id="btnClose">&times;</button>
            </div>
          </div>
          {% endif %}
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            
            <h1 class="h3 mb-0 text-gray-800">Create Editor Account</h1>
            <ol class="breadcrumb">
            </ol>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ create_form|crispy }}
              
              <div class="form-group">
                  <button class="btn btn-primary mb-1 submitBtn">Submit</button>
              </div>
          </form>
        </div>


        </div>
        <!---Container Fluid-->
      </div>
      {% include 'ShoesInvasionAdmin/logout-container.html' %}
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'ShoesInvasionAdmin/footer.html' %}
  <script>
    var btnClose = document.getElementById('btnClose')
      btnClose.addEventListener('click', function(){
          var error_msg = document.getElementById('error_msg')
          error_msg.style.display = "None"
    })
  </script>

</body>

</html>