<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="manage">
      <div class="sidebar-brand-text mx-3">Shoe Invasion</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="manage">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Manage Users</span></a>
      </li> 
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        Functions
      </div>
      <li class="nav-item">
        <a class="nav-link" href="logout">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>logout</span>
        </a> 
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="products.php">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Manage Products</span>
        </a> 
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="logout.php">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>Logout</span>
        </a> 
      </li> -->
      <hr class="sidebar-divider">
      <!-- <hr class="sidebar-divider"> -->
      <div class="version" id="version-ruangadmin"></div>
    </ul>