<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'ShoesInvasionAdmin/head.html' %}
  <title>ShoesInvasion Admin - User</title>
</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'ShoesInvasionAdmin/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {% include 'ShoesInvasionAdmin/navbar.html' %}
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">User Accounts</h1>
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="home">Home</a></li> -->
              <li class="breadcrumb-item">User Accounts</li>
              <!-- <li class="breadcrumb-item active" aria-current="page">Blank Page</li> -->
            </ol>
          </div>

          <div class="row">
            <!-- Datatables -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                      {% csrf_token %}
                      <tr>
                        <th>Username</th>
                        <th>Last Name</th>
                        <th>Account Type</th>
                        <th>Verified Status</th>
                        <th>Locked Status</th>
                      </tr>
                    </thead>
                    <!-- <tfoot>
                      <tr>
                        <th>Username</th>
                        <th>Last Name</th>
                        <th>Account Type</th>
                        <th>Verified Status</th>
                        <th>Locked Status</th>
                      </tr>
                    </tfoot> -->
                    <tbody>
                        {% for item in data %} 
                        <tr id="{{item.uid}}">
                          <td class="row-data">{{item.username}}</td>
                          <td class="row-data">{{item.lname}}</td>
                          <td class="row-data">{{item.accountType}}</td>
                          <td class="row-data">{{item.verifiedStatus}}</td>
                          {% if item.lockedStatus ==  False %}
                          <td><button type="button" id="btnBan" class="btn btn-danger ban" onclick="show()">Ban</button>
                          </td>
                          {% else %}
                          <td><button type="button" id="btnBan" class="btn btn-success ban" onclick="show()">Unban</button>
                          </td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!---Container Fluid-->
      </div>
      {% include 'ShoesInvasionAdmin/logout-container.html' %}
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include 'ShoesInvasionAdmin/footer.html' %}
  <script>
    function show() {
      var rowId = event.target.parentNode.parentNode.id;
      csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
    //this gives id of tr whose button was clicked
      var data = document.getElementById(rowId).querySelectorAll(".row-data"); 
      var username = data[0].innerHTML;
      var age = data[1].innerHTML;
      var url ='ban_unban/'
      fetch(url,{
          method:'POST',
          headers:{
          'Content-Type':'application/json',
                  'X-CSRFToken':csrftoken, 
          },
          body:JSON.stringify({'uid':rowId }) 
        })
        .then((response) => {
          // console.log(response)
          return response.json();
          })
          .then((data) => {
            // console.log(data)
            location. reload() 
          })
        }
    
  </script>

</body>

</html>